<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCellkVL9n5cHtreZw0QrRRZdI5Ir9g95k</string>
	<key>GCM_SENDER_ID</key>
	<string>510351097070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cameraCapture</string>
	<key>PROJECT_ID</key>
	<string>camera-capture-2023-09-20</string>
	<key>STORAGE_BUCKET</key>
	<string>camera-capture-2023-09-20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510351097070:ios:7022e216c302888a6787ff</string>
</dict>
</plist>